<div>


    <p style="margin-bottom:20pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:30pt"><span style="font-size:20pt;font-weight:bold;color:#262626">Web Site Terms and Conditions of
Use</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt">1. Terms</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">By accessing this web site, you are agreeing to be bound by these
web site Terms and Conditions of Use, all applicable laws and regulations,
and agree that you are responsible for compliance with any applicable
local laws. If you do not agree with any of these terms, you are prohibited
from using or accessing this site. The materials contained in this web
site are protected by applicable copyright and trade mark law.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">2. Use License</span></p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt"><span style="font-size:14pt;font-weight:normal">Permission is granted to temporarily download one copy of the materials
(information or software) on SnazzyRoom&#39;s web site for personal, non-commercial
transitory viewing only. This is the grant of a license, not a transfer
of title, and under this license you may not:</span></p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:72pt;margin-right:0pt;text-align:left;line-height:18pt">modify or copy the materials;</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:72pt;margin-right:0pt;text-align:left;line-height:18pt">use the materials for any commercial purpose, or for any public display
        (commercial or non-commercial);</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:72pt;margin-right:0pt;text-align:left;line-height:18pt">attempt to decompile or reverse engineer any software contained on
        SnazzyRoom&#39;s web site;</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:72pt;margin-right:0pt;text-align:left;line-height:18pt">remove any copyright or other proprietary notations from the materials;
        or</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:72pt;margin-right:0pt;text-align:left;line-height:18pt">transfer the materials to another person or &quot;mirror&quot; the
        materials on any other server.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt"><span style="font-size:14pt">This license
shall automatically terminate if you violate any of these restrictions
and may be terminated by SnazzyRoom at any time. Upon terminating your
viewing of these materials or upon the termination of this license,
you must destroy any downloaded materials in your possession whether
in electronic or printed format.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">3. Disclaimer</span></p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt"><span style="font-size:14pt;font-weight:normal">The materials on SnazzyRoom&#39;s web site are provided &quot;as is&quot;.
SnazzyRoom makes no warranties, expressed or implied, and hereby disclaims
and negates all other warranties, including without limitation, implied
warranties or conditions of merchantability, fitness for a particular
purpose, or non-infringement of intellectual property or other violation
of rights. Further, SnazzyRoom does not warrant or make any representations
concerning the accuracy, likely results, or reliability of the use of
the materials on its Internet web site or otherwise relating to such
materials or on any sites linked to this site.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">4. Limitations</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">In no event shall SnazzyRoom or its suppliers be liable for any damages
(including, without limitation, damages for loss of data or profit,
or due to business interruption,) arising out of the use or inability
to use the materials on SnazzyRoom&#39;s Internet site, even if SnazzyRoom
or a SnazzyRoom authorized representative has been notified orally or
in writing of the possibility of such damage. Because some jurisdictions
do not allow limitations on implied warranties, or limitations of liability
for consequential or incidental damages, these limitations may not apply
to you.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">5. Revisions and Errata</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">The materials appearing on SnazzyRoom&#39;s web site could include technical,
typographical, or photographic errors. SnazzyRoom does not warrant that
any of the materials on its web site are accurate, complete, or current.
SnazzyRoom may make changes to the materials contained on its web site
at any time without notice. SnazzyRoom does not, however, make any commitment
to update the materials.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">6. Links</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">SnazzyRoom has not reviewed all of the sites linked to its Internet
web site and is not responsible for the contents of any such linked
site. The inclusion of any link does not imply endorsement by SnazzyRoom
of the site. Use of any such linked web site is at the user&#39;s own risk.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">7. Site Terms of Use Modifications</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">SnazzyRoom may revise these terms of use for its web site at any time
without notice. By using this web site you are agreeing to be bound
by the then current version of these Terms and Conditions of Use.</span></p>
    <p style="margin-top:0pt;margin-bottom:16pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:25pt"><span style="font-size:17pt;font-weight:bold">8. Governing Law</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">Any claim relating to SnazzyRoom&#39;s web site shall be governed by the
laws of the State of California without regard to its conflict of law
provisions.</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">General Terms and Conditions applicable to Use of a Web Site.</span></p>
    <p style="margin-top:0pt;margin-bottom:20pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:30pt"><span style="font-size:20pt;font-weight:bold">Privacy Policy</span></p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt"><span style="font-size:14pt;font-weight:normal">Your privacy is very important to us. Accordingly, we have developed
this Policy in order for you to understand how we collect, use, communicate
and disclose and make use of personal information. The following outlines
our privacy policy.</span></p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">Before or at the time of collecting personal information, we will
        identify the purposes for which information is being collected.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">We will collect and use of personal information solely with the objective
        of fulfilling those purposes specified by us and for other compatible
        purposes, unless we obtain the consent of the individual concerned or
        as required by law.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">We will only retain personal information as long as necessary for
        the fulfillment of those purposes.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">We will collect personal information by lawful and fair means and,
        where appropriate, with the knowledge or consent of the individual concerned.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">Personal data should be relevant to the purposes for which it is to
        be used, and, to the extent necessary for those purposes, should be
        accurate, complete, and up-to-date.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">We will protect personal information by reasonable security safeguards
        against loss or theft, as well as unauthorized access, disclosure, copying,
        use or modification.</p>
    <p style="margin-top:0pt;margin-bottom:0pt;margin-left:36pt;margin-right:0pt;text-align:left;line-height:21pt">We will make readily available to customers information about our
        policies and practices relating to the management of personal information.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">We are committed to conducting our business in accordance with these
        principles in order to ensure that the confidentiality of personal information
        is protected and maintained.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Information that is gathered from visitors</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">In common with other websites, log files are stored on the web server
        saving details such as the visitor&#39;s IP address, browser type, referring
        page and time of visit.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Cookies may be used to remember visitor preferences when interacting
        with the website.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Where registration is required, the visitor&#39;s email and a username
        will be stored on the server.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">How the Information is used</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">The information is used to enhance the visitor&#39;s experience when using
        the website to display personalized content and possibly advertising.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">E-mail addresses will not be sold, rented or leased to 3rd parties.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">E-mail may be sent to inform you of news of our services or offers
        by us or our affiliates.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Visitor Options</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">You may be able to block cookies via your browser settings but this
        may prevent you from access to certain features of the website.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Cookies</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Cookies are small digital signature files that are stored by your
        web browser that allow your preferences to be recorded when visiting
        the website. Also they may be used to track your return visits to the
        website.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">3rd party advertising companies may also use cookies for tracking
        purposes.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Google Ads</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Google, as a third party vendor, uses cookies to serve ads.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Google&#39;s use of the DART cookie enables it to serve ads to visitors
        based on their visit to sites they visit on the Internet.</p>
    <p style="margin-top:0pt;margin-bottom:21pt;margin-left:0pt;margin-right:0pt;text-align:left;text-indent:0pt;line-height:21pt">Website visitors may opt out of the use of the DART cookie by visiting
        the Google ad and content network privacy policy.</p>










</div>