$box_shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

#dressing_rooms {
  #page_header {
    height: 60px;

    font-family: $pretty_font;

    @media screen and (max-width: 960px) {
      height: 150px;
    }

    .title {
      float: left;

      h2 {font-weight: normal;}
      h4 {font-family: $nice_font; color: $sub_header_color}
    }

    #control_panel {
      float:right;
      width:410px;
      font-size:17px;
      margin-top: 5px;

      @media screen and (max-width: 640px) {
        clear: both;
        float: none;
        margin-top: 10px;
        width: 320px;
      }

      .addthis_toolbox {
        float: left;
        margin: 9px 5px;

        @media screen and (max-width: 640px) {
          margin-left: 0;
        }
      }

      .fb-send {float:left; margin-top:7px;}
      .fb-send-msg {
        float:right; width:270px;

        @media screen and (max-width: 640px) {
          clear: both;
          float: left;
          font-size: 15px;
        }
      }
    }

  }

  .tiles-collections {

    margin-top: 15px;

    ul {
      margin: 0;
    }

    li {
      list-style: none;
    }

    $tile_bg_color: #EEE;
    $tile_border: 1px solid #FFF;
    $tile_square_size: 200px;
    $thumb_square_size: 50px;

    li.collection {
      height: $tile_square_size + 50px;
      float: left;
      margin: 0 20px 20px 0;

      h3 {
        font-family: $pretty_font;
        font-size: 20px;
        line-height: 22px;
        font-weight: normal;
        text-align: center;

        a {
          color: #333;
        }
      }

      h4 {
        font-family: $nice_font;
        color: $sub_header_color;
        text-align: center;
        font-size:11px;
        margin-bottom: 10px;
      }

      div.collection {
        @include box-shadow($box_shadow);
        cursor: pointer;
        background-color: #FFF;
        overflow: hidden;
        width: $tile_square_size;
        height: $tile_square_size;

        position:relative;

        a {
          position: absolute;
          height: $tile_square_size;
          width: $tile_square_size;
          top: 0;
          left: 0;
        }

        img {
          margin: -15% 0;
        }

        figure {
          background-color: $tile_bg_color;
          margin: 0;
          margin-bottom: 1px;
          overflow: hidden;
          height: $tile_square_size - $thumb_square_size;

          img {
            width: $tile_square_size;
          }

        }

        div {
          @include clearfix;
          height: $thumb_square_size;
          width: $tile_square_size + 5px;
          overflow: hidden;

          li {
            background-color: $tile_bg_color;
            margin: 0;
            float: left;
            width: $thumb_square_size;
            height: $thumb_square_size;
            margin-right: 1px;

            img {
              width: $thumb_square_size;
              //height: $thumb_square_size;
            }
          }
        }
      }
    }


  }

  #page_content {
    position:relative;
  }

  .fb-comments {
    position:absolute;
    top: 0;
    right: 0;

    @media screen and (max-width: 640px) {
      position: static;
      margin-top: 15px;
    }
  }

  #tiles_container {

    margin-right: 320px;

    @media screen and (max-width: 640px) {
      margin-right: 0;
    }

    $tilePadding: 10px;
    $tileContentWidth: 178px;

    margin-top: 15px;
    position: relative;

    li { list-style: none; }

    div.tile {

      @include box-shadow($box_shadow);
      padding: $tilePadding;
      padding-bottom: 0;
      width: $tileContentWidth;
      position: absolute;

      figure {
        margin: 0;

        img {
          max-width: $tileContentWidth;
        }
      }

      .actions-bar {
        position:absolute;
        top:0px;
        left:0px;
        width: $tileContentWidth + ($tilePadding * 2);
        height:50px;
        background-color:#fff;
        display:none;
        border-bottom:1px solid #f7f7f7;

        li {
          height: 50px;
          width: ceil(($tileContentWidth / 3) + ($tilePadding / 2));
          top: 0;
          position: absolute;
          cursor: pointer;
          font-size: 10px;

          b {
            background: url(/assets/dri-tile-actions.png) no-repeat;
            width: 20px;
            height: 20px;
            top: 8px;
            left: 24px;
            display: block;
            position: relative;
          }

          div {
            margin-top:5px;
            left:0;
            //width: $tileContentWidth / 3;
            text-align: center;
            color: #888;
          }
        }

        li:hover {background-color:#F6F6F6;}

        li.comment {
          left: 133px;

          b {
          }
        }

        li.comment.active {
          background-color: #eee;
        }

        li.like {
          left: 0;
          b {
            background-position: -35px 0;
          }
        }

        $activeBgColor: #D2EFD2;
        li.like.active {
           background-color: $activeBgColor;
        }

        li.like.active:hover {
          background-color: darken($activeBgColor, 5%);
        }

        li.dislike {
          left: 66px;

          b {
            background-position: -72px 0;
          }
        }

        $dislikeBgColor: #EFD2D3;
        li.dislike.active {
          background-color: $dislikeBgColor;
        }

        li.dislike.active:hover {
          background-color: darken($dislikeBgColor, 5%);
        }

      }

      .stats-bar {
        @include clearfix;

        padding-top: 4px;
        ul { margin:0; }

        li {
          float: left;
          padding: 2px 14px 2px 0;
          line-height: 8px;

          b {
            background: url(/assets/dri-tile-actions-sm.png) no-repeat;
            width:10px;
            height:12px;
            display: block;
            float: left;
          }

          span {
            color: #999;
            font-size: 10px;
            padding-left: 4px;
          }
        }

        li.likes b {
          background-position: -24px 0;
        }

        li.dislikes b {
          background-position: -46px 0;
        }

        li.comments b {
          width: 12px;
        }
      }

      .activities {
        clear: both;
        margin-top: 5px;
        //background-color: #eee;

        .activity {
          @include clearfix;
          padding: 8px 0;
          border-top: 1px solid #e7e7e7;

          a.profile-img {
            float: left;
            img {
              width: 30px;
              height: 30px;
            }
          }
          p {
            float: left;
            width: 138px;

            color: #666;
            font-size:12px;
            padding-left: 10px;
            margin: 0;

            a {
              color: #667;
              font-weight: bold;
            }
          }

          textarea {
            width: 128px;
            height:30px;
            line-height:14px;
            font-size:11px;
          }

          a.btn {
            float:right;
          }
        }

        //.activity.first {
        //  border-top: 0;
        //}
      }
    }

    div.tile.likes {
      border-top:3px solid green;
    }

    div.tile.dislikes {
      border-top: 3px solid darken(red, 20%);
    }

    div.tile:hover .actions-bar {
      display: block;
    }

  }
}