// **** FONTS:

$pretty_font: "Lobster Two";
$nice_font: "helvetica neue",arial,sans-serif;


// **** COLORS:

$sub_header_color: #617181;

// **** Responsive

$screen_phone: 320px;
$screen_small: 640px;
$screen_normal: 960px;
$screen_large: 1280px;

$media_phone: "only screen and (max-width: 320px)";
$media_small: "only screen and (max-width: 640px)";
$media_normal: "only screen and (max-width: 960px)";
$media_large: "only screen and (max-width: 1280px)";


